:root{--widget-background-color:#f8f8f8;--player-background-color:#fff;--main-custom-color:#05308c;--main-custom-color-rgba:rgba(5,48,140,0);--main-custom-color-rgba2:rgba(5,48,140,.9);--secondary-custom-color:#9f9e9e;--text-color:#000;--reduced-player-height:60px}